// header
$appHeaderHeight: 0px;

// sidebar
$menuText: #bbb;
$menuActiveText: #33a397;
$subMenuActiveText: #fff; //https://github.com/ElemeFE/element/issues/12951

$menuBg: #141f29;
$menuHover: #263445;

$subMenuBg: #09121a;
$subMenuHover: #263445;

$sideBarWidth: 210px;

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
}

// element-ui 主题颜色
$primaryColor: #33a397;
$successColor: #67c23a;
$warningColor: #e6a23c;
$dangerColor: #f56c6c;
$infoColor: #909399;
$primaryText: #303133;
$borderBase: #dcdfe6;
$borderLight: #e4e7ed;
$borderLighter: #ebeef5;
$borderLightest: #f2f6fc;
$borderNormal: #efefef80;

// 字体配置
$fontSize:14px;

//新建广告主lable字体颜色
$advertisersLabelText:#666666;

// 表单和表头背景颜色
$formBacgroundColor: rgba(51, 163, 152, 0.07);

//详情页数据回显字体颜色
$detailTextColor:#999;
